# Created by https://www.gitignore.io/api/make,c++

#!! ERROR: make is undefined. Use list command to see defined gitignore types !!#

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
doc/
.idea/
